.parallax-container {
  height: 100%;
}

.Details {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.Details .content {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}

.Details .description {
  min-width: 320px;
  max-width: 75%;
  background: rgba(24,26,30,.23);
  padding: 5px 25px 25px;
  color: #fff;
  justify-self: center;
  margin: 25px;
}
.Details h4 {
  color: #fff;
}

@media(min-width: 450px) {
  html, body, .App, #root, .showTitles {
    height: 100%;
  }
}
@media(max-width: 450px) {
  .parallax-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 8px;
    perspective-origin: 0%;
    display: flex;
  }
}